* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

.error {
    border-radius: 2px;
    border: 2px solid #8A0808;
    background-color: #F78181;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 16px;
}



.main-content {
    width: 80%;
}

.main-content-full {
    width: 100%;
}

.sidebar {
    width: 20%;
    float: right;
    padding: 16px;
}

#users {
    list-style-type: none;
    margin: 0;
    margin-left: 16px;
    padding: 0;
}



footer {
    height: 20px;
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    text-align: center;
}



form#message_form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 20px;
    width: 100%;
}

form#message_form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

form#message_form input[type="submit"] {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 3px solid black;
    height: 600px;
    overflow-y: auto;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

.black {
    color: black;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.pink {
    color: pink;
}

#messages li span.who {
    font-weight: bold;
}

#messages li span.message {
}

form#login_form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

form#login_form fieldset {
    border: none;
    padding: 4px;
}

form#login_form input, form#login_form select {
    /* border: none; */
    padding: 8px;
    border-radius: 4px;
    border:  1px solid #BDBDBD;
    width: 100%;
}

form#login_form input[type="submit"] {
    padding: 8px 16px 8px 16px;
    border: none;
    background-color: #BDBDBD;
    width: auto;
}

.main-content-full h1, .main-content-full h2  {
    text-align: center;
}